*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    align-items: flex-start;
}

body{
    background-color: hsl(0, 0%, 95%);
    display: flex;
    place-items: center;
    height: 100vh;
}

@media screen and (max-width: 1440px) {
    body{
        background-color: hsl(0, 0%, 95%);
        display: flex;
        place-items: center;
        height: 100vh;
    }
}


@media screen and (min-width: 375px) {
    body{
        background-color: hsl(0, 0%, 95%);
        display: flex;
        place-items: center;
        height: 100vh;
    }
}

#design{
    display: flex;
}


.main{
    width: 50%;
    margin: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
   
}


.sedans{
    background-color:  hsl(31, 77%, 52%);
    padding: 2em;
    color: white;
    text-align: left;
    width: 50%;
}

.sedans.h2{
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}

.paragraph_1{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.s_button{
    border-radius: 20px;
    border: none;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    margin-top: 20px;
}

.s_button:active{
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    margin-top: 20px;
}



.suvs{
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    color: white;
    text-align: left;
    width: 50%;
    
}

.suv.h2{
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}

.paragraph_2{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;

}

.suvs_button{
    border-radius: 20px;
    border: none;
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    margin-top: 20px;
}

.suvs_button:active{
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    margin-top: 20px;
}


.luxury{
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    color: white;
    text-align: left;
    width: 50%;
}


.luxury.h2{
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 15px;
}


.paragraph_3{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.luxury_button{
    border-radius: 20px;
    border: none;
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    margin-top: 20px;
}

.luxury_button:active{
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
    cursor: pointer;
    text-align: center;
    padding: 10px 24px;
    margin-top: 20px;
}